[Unit]
Description=Gunicorn instance to serve Hindu Panchanga Converter
After=network.target

[Service]
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{APP_PATH}}
Environment="PATH={{APP_PATH}}/venv/bin"
ExecStart={{APP_PATH}}/venv/bin/gunicorn --workers 3 --bind unix:{{APP_PATH}}/panchanga.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
